@using Tauchbolde.Web.Models.EventViewModels
@inject Tauchbolde.Web.Core.TextFormatting.ITextFormattingHelper TextFormatting
@model EventViewModel

@foreach (var comment in Model.Event.Comments.OrderBy(c => c.CreateDate))
{
    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel-body">
                <div>
                    <vc:avatar diver-email="@comment.Author.User.Email" avatar-id="@comment.Author.AvatarId" avatar-size="Small" />
                    <strong>@comment.Author.Fullname</strong>
                    <small> &mdash; @comment.CreateDate.ToString("dd.MM.yyyy HH:mm") @(comment.ModifiedDate.HasValue ? ("Geändert: " + comment.ModifiedDate.Value.ToString("dd.MM.yyyy HH:mm")) : "")</small>
                    @* ReSharper disable twice UnknownCssClass *@
                    @if (comment.AuthorId == Model.CurrentDiver.Id)
                    {
                        <button class="btn btn-default btn-xs editCommentBtn"
                                data-commentId="@comment.Id"
                                data-commentText="@comment.Text">
                            <span class="glyphicon glyphicon-pencil"
                                  data-commentId="@comment.Id"
                                  data-commentText="@comment.Text">
                            </span>
                        </button>
                        <button class="btn btn-default btn-xs deleteCommentBtn"
                                data-commentId="@comment.Id"
                                data-commentText="@comment.Text">
                            <span class="glyphicon glyphicon-trash"
                                  data-commentId="@comment.Id"
                                  data-commentText="@comment.Text">
                            </span>
                        </button>
                    }
                </div>
                <p>@TextFormatting.FormatText(comment.Text)</p>
            </div>
        </div>
    </div>
}

<script>
    $(function() {
        $('.editCommentBtn').click(function() {
            const button = $(event.target);
            const commentId = button.data('commentid');
            const commentText = button.data('commenttext');
            const modal = $('#commentEditModal');
    
            modal.find('#commentId').val(commentId);
            modal.find('#commentText').val(commentText);
            modal.find('#eventId').val('@Model.Event.Id');
    
            modal.modal('show');
        });
    
        $('.deleteCommentBtn').click(function() {
            const button = $(event.target);
            console.log(button);
            const commentId = button.data('commentid');
            const commentText = button.data('commenttext');
            console.log(commentId);
            console.log(commentText);
            const modal = $('#commentDeleteModal');
    
            modal.find('#deleteCommentId').val(commentId);
            modal.find('#deleteEventId').val('@Model.Event.Id');
            modal.find('#deleteCommentText').text(commentText);
    
            modal.modal('show');
        });
    })
</script>
