@inject Tauchbolde.Web.Core.TextFormatting.ITextFormattingHelper TextFormatting
@model Tauchbolde.InterfaceAdapters.MVC.Presenters.Events.Details.EventViewModel

@foreach (var comment in Model.Comments)
{
    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel-body">
                <div>
                    <vc:avatar diver-email="@comment.CommentAuthorEmail" avatar-id="@comment.CommentAuthorAvatarId" avatar-size="Small"/>
                    <strong>@comment.CommentAuthorFullname</strong>
                    <small> &mdash; @comment.CreatedTime @(comment.ModifiedTime != null ? "Geändert: " + comment.ModifiedTime : "")</small>
                    @* ReSharper disable twice UnknownCssClass *@
                    @if (comment.EditAllowed)
                    {
                        <button class="btn btn-default btn-xs editCommentBtn"
                                data-commentId="@comment.CommentId"
                                data-commentText="@comment.">
                            <span class="glyphicon glyphicon-pencil"
                                  data-commentId="@comment.CommentId"
                                  data-commentText="@comment.Text">
                            </span>
                        </button>
                    }
                    @if (comment.DeleteAllowed)
                    {
                        <button class="btn btn-default btn-xs deleteCommentBtn"
                                data-commentId="@comment.CommentId"
                                data-commentText="@comment.Text">
                            <span class="glyphicon glyphicon-trash"
                                  data-commentId="@comment.CommentId"
                                  data-commentText="@comment.Text">
                            </span>
                        </button>
                    }
                </div>
                <p>@TextFormatting.FormatText(comment.Text)</p>
            </div>
        </div>
    </div>
}

<script>
    $(function() {
        $('.editCommentBtn').click(function() {
            const button = $(event.target);
            const commentId = button.data('commentid');
            const commentText = button.data('commenttext');
            const modal = $('#commentEditModal');
    
            modal.find('#commentId').val(commentId);
            modal.find('#commentText').val(commentText);
            modal.find('#eventId').val('@Model.EventId');
    
            modal.modal('show');
        });
    
        $('.deleteCommentBtn').click(function() {
            const button = $(event.target);
            console.log(button);
            const commentId = button.data('commentid');
            const commentText = button.data('commenttext');
            console.log(commentId);
            console.log(commentText);
            const modal = $('#commentDeleteModal');
    
            modal.find('#deleteCommentId').val(commentId);
            modal.find('#deleteEventId').val('@Model.EventId');
            modal.find('#deleteCommentText').text(commentText);
    
            modal.modal('show');
        });
    })
</script>