@using Tauchbolde.Common.Model
@using Tauchbolde.Web.Models.EventViewModels
@model EventViewModel
@{
    ViewBag.Title = $"Aktivität - {Model.Event.Name}";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <h2>ViewBag.Title</h2>
    </div>

    <div class="row">


        <div class="col-md-6">
            <div class="row">
                <label class="col-md-6" asp-for="Event.StartEndTimeAsString"></label>
                <span lass>@Model.Event.StartEndTimeAsString</span>
            </div>
            <div class="row">
                <label class="col-md-6" asp-for="Event.Name"></label>
                <span lass>@Model.Event.Name</span>
            </div>
            <div class="row">
                <label class="col-md-6" asp-for="Event.Location"></label>
                <span lass>@Model.Event.Location</span>
            </div>
            <div class="row">
                <label class="col-md-6" asp-for="Event.MeetingPoint"></label>
                <span lass>@Model.Event.MeetingPoint</span>
            </div>
            <div class="row">
                <label class="col-md-6" asp-for="Event.Organisator"></label>
                <span lass>@Model.Event.Organisator</span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a asp-action="Edit" asp-route-id="@Model.Event.Id" class="btn btn-default">Bearbeiten</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Teilnehmer</h3>

            <h4>Angemeldet:</h4>
            @foreach (var participant in Model.Event.Participants.Where(p => p.Status == ParticipantStatus.Accepted))
            {
                <div class="row">
                    <div class="col-sm-1"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></div>
                    <div class="col-sm-1">(@participant.CountPeople)</div>
                    <div class="col-sm-10">@participant.User.UserName <em>@participant.</em></div>
                </div>
            }

            <h4>Unsicher:</h4>
            @foreach (var participant in Model.Event.Participants.Where(p => p.Status == ParticipantStatus.Tentative || p.Status == ParticipantStatus.None))
            {
                <div class="row">
                    <div class="col-sm-1"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>
                    <div class="col-sm-1">(@participant.CountPeople)</div>
                    <div class="col-sm-10">@participant.User.UserName <em>@participant.</em></div>
                </div>
            }

            <h4>Abgmeldet:</h4>
            @foreach (var participant in Model.Event.Participants.Where(p => p.Status == ParticipantStatus.Declined))
            {
                <div class="row">
                    <div class="col-sm-1"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>
                    <div class="col-sm-1">(@participant.CountPeople)</div>
                    <div class="col-sm-10">@participant.User.UserName <em>@participant.</em></div>
                </div>
            }


            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                An-/Abmeldung
            </a>

            <div class="collapse" id="collapseExample" style="margin-top: 5px;">

                <form asp-action="ChangeParticipation" asp-antiforgery="true">
                    <div class="well">

                        @* Status *@
                        <div class="radio bg-text-success">
                            <label>
                                <input type="radio" name="participantstatus" id="participantstatus-1" value="1" checked>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Bin dabei
                            </label>
                        </div>
                        <div class="radio text-primary">
                            <label>
                                <input type="radio" name="participantstatus" id="participantstatus-2" value="2">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;Weiss noch nicht
                            </label>
                        </div>
                        <div class="radio text-danger">
                            <label>
                                <input type="radio" name="participantstatus" id="participantstatus-3" value="3">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;Kann leider nicht
                            </label>
                        </div>

                        @* Buddyteam *@
                        <div class="form-group">
                            <label for="exampleInputEmail1">Buddy-Team</label>
                            <select class="form-control" asp-items="@Model.BuddyTeamNames">
                            </select>
                        </div>

                        @* Notiz *@
                        <div class="form-group">
                            <label for="exampleInputEmail1">Notiz</label>
                            <input type="text" class="form-control" id="note" placeholder="Notiz" value="">
                        </div>

                        @* Anzahl *@
                        <div class="form-group">
                            <label for="exampleInputEmail1">Anzahl Personen</label>
                            <input type="number" class="form-control" id="countpersons" value="1" step="1" min="1">
                        </div>

                        <input class="btn btn-success" type="submit" value="Speichern" />
                        <a href="#" id="cnacel-participant-change">Abbrechen</a>

                    </div>
                </form>

            </div>
        </div>

    </div>
</div>