@using Tauchbolde.Web.Models.EventViewModels
@model EventEditViewModel
@{
    ViewBag.Title = $"Aktivität bearbeiten - {Model.Name ?? "Neue Aktivität"}";
    Layout = "_Layout";
}

<script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" asp-append-version="false" />

<form asp-action="Edit" role="form" class="form-horizontal">
    <div class="container">

        <div class="row">
            <h2>@ViewBag.Title</h2>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="Id" hidden="hidden" />

        <div class="form-group">
            <label asp-for="StartTime" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control", autocomplete = "off" })
                <span asp-validation-for="StartTime"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EndTime" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control", autocomplete = "off" })
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Location" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MeetingPoint" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.MeetingPoint, new { @class = "form-control" })
                <span asp-validation-for="MeetingPoint" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Organisator" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Organisator, new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="Organisator" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-sm-2 control-label">
            </label>
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Description, 6, 50, new { @class = "form-control" })
                <span asp-validation-for="Description" class="text-danger"></span>
                <vc:markdown-help-link />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Speichern" />
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default">Abbrechen</a>
        </div>
    </div>
</form>

<script>
$(function() {
    $('#StartTime').datetimepicker({
        format: 'DD.MM.YYYY HH:mm',
        locale: 'de-CH'
    });
    $('#EndTime').datetimepicker({
        format: 'DD.MM.YYYY HH:mm',
        locale: 'de-CH'
    });
});
</script>