@model Tauchbolde.InterfaceAdapters.Profile.MvcUserProfileViewModel
@{
    ViewBag.Title = $"Profil von {Model.Realname}";
    Layout = "_Layout";
}
<h2>
    Tauchbolde-Profil
</h2>

<form class="form-horizontal">
    <div class="col-md-6">
        <fieldset>
            <legend>Informationen</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label">Profilbild</label>
                <div class="col-sm-9">
                    <!--suppress XmlUnboundNsPrefix -->
                    <vc:avatar diver-email="@Model.Email" avatar-id="@Model.AvatarId" avatar-size="Medium" />
                    @if(Model.AllowEdit)
                    {
                        <a class="btn btn-default btn-sm" asp-action="EditAvatar" asp-route-id="@Model.UserId">Bild ändern ...</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="@Model.Realname"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Realname</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="@Model.Firstname"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Firstname</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="@Model.Lastname"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Lastname</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="@Model.MemberSince"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.MemberSince</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="@Model.Slogan"></label>
                <div class="col-sm-9">
                    <p class="form-control-static" style="max-width: 300px">@Model.Slogan</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="@Model.Education"></label>
                <div class="col-sm-9">
                    <p class="form-control-static" style="max-width: 300px">@Model.Education</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="@Model.Experience"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Experience</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Roles"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        @foreach (var role in Model.Roles)
                        {
                            <span class="label label-primary">@role</span>
                        }
                    </p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Kommunikation </legend>
            @if (!string.IsNullOrWhiteSpace(Model.Email))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Email"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.EmailUrl" title="Email an @Model.Realname senden">
                                <span class="glyphicon glyphicon-envelope"></span>
                                @Model.Email
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.MobilePhone))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="@Model.MobilePhone"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.MobilePhoneUrl" title="@(Model.Realname) anrufen">
                                <span class="glyphicon glyphicon-facetime-video"></span>
                                @Model.MobilePhone
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.WebsiteUrl))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="@Model.WebsiteUrl"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.WebsiteUrl" target="_blank" title="Webseite von @Model.Realname aufrufen">
                                <span class="glyphicon glyphicon-globe"></span>
                                @Model.WebsiteUrl
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.TwitterHandle))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="@Model.TwitterHandle"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.TwitterUrl" target="_blank" title="Twitter-Profil von @Model.Realname">
                                <span class="glyphicon glyphicon-globe"></span>
                                @Model.TwitterUrl
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.FacebookId))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="@Model.FacebookId"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.FacebookUrl" target="_blank" title="Facebook-Profil von @Model.Realname">
                                <span class="glyphicon glyphicon-globe"></span>
                                @Model.FacebookUrl
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.SkypeId))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="@Model.SkypeId"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.SkypeUrl" title="Mit Skype @(Model.Realname) anrufen">
                                <span class="glyphicon glyphicon-facetime-video"></span>
                                @Model.SkypeId
                            </a>
                        </p>
                    </div>
                </div>
            }
        </fieldset>
    </div>
    <div class="col-xs-12">
    @if (Model.AllowEdit)
    {
        <a class="btn btn-primary" title="Profil bearbeiten" asp-action="edit" asp-route-id="@Model.UserId">Bearbeiten</a>
    }
    </div>
</form>
<div class="clearfix"></div>