@using Tauchbolde.Domain.Helpers
@model Tauchbolde.Web.Models.UserProfileModels.ReadProfileModel
@{
    ViewBag.Title = "Profil von " + Model.Profile.Realname;
    Layout = "_Layout";
}
<h2>
    Tauchbolde-Profil
</h2>

<form class="form-horizontal">
    <div class="col-md-6">
        <fieldset>
            <legend>Informationen</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label">Profilbild</label>
                <div class="col-sm-9">
                    <!--suppress XmlUnboundNsPrefix -->
                    <vc:avatar diver-email="@Model.Profile.User.Email" avatar-id="@Model.Profile.AvatarId" avatar-size="Medium" />
                    @if(Model.AllowEdit)
                    {
                        <a class="btn btn-default btn-sm" asp-action="EditAvatar" asp-route-id="@Model.Profile.Id">Bild ändern ...</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Profile.Realname"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Profile.Realname</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Profile.Firstname"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Profile.Firstname</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Profile.Lastname"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Profile.Lastname</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Profile.MemberSince"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Profile.MemberSince.ToStringSwissDate()</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Profile.Slogan"></label>
                <div class="col-sm-9">
                    <p class="form-control-static" style="max-width: 300px">@Model.Profile.Slogan</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Profile.Education"></label>
                <div class="col-sm-9">
                    <p class="form-control-static" style="max-width: 300px">@Model.Profile.Education</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Profile.Experience"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">@Model.Profile.Experience</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Roles"></label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        @foreach (var role in Model.Roles)
                        {
                            <span class="label label-primary">@role</span>
                        }
                    </p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Kommunikation </legend>
            @if (!string.IsNullOrWhiteSpace(Model.Profile.User.Email))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Profile.User.Email"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="mailto:@Model.Profile.User.Email" title="Email an @Model.Profile.Realname senden">
                                <span class="glyphicon glyphicon-envelope"></span>
                                @Model.Profile.User.Email
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Profile.MobilePhone))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Profile.MobilePhone"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="tel:@Model.Profile.MobilePhone" title="@(Model.Profile.Realname) anrufen">
                                <span class="glyphicon glyphicon-facetime-video"></span>
                                @Model.Profile.MobilePhone
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Profile.WebsiteUrl))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Profile.WebsiteUrl"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.Profile.WebsiteUrl" target="_blank" title="Webseite von @Model.Profile.Realname aufrufen">
                                <span class="glyphicon glyphicon-globe"></span>
                                @Model.Profile.WebsiteUrl
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Profile.GetTwitterUrl()))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Profile.TwitterHandle"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.Profile.GetTwitterUrl()" target="_blank" title="Twitter-Profil von @Model.Profile.Realname">
                                <span class="glyphicon glyphicon-globe"></span>
                                @Model.Profile.GetTwitterUrl()
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Profile.GetFacebookeUrl()))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Profile.FacebookId"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.Profile.GetFacebookeUrl()" target="_blank" title="Facebook-Profil von @Model.Profile.Realname">
                                <span class="glyphicon glyphicon-globe"></span>
                                @Model.Profile.GetFacebookeUrl()
                            </a>
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Profile.SkypeId))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Profile.SkypeId"></label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="@Model.Profile.GetSkypeUrl()" title="Mit Skype @(Model.Profile.Realname) anrufen">
                                <span class="glyphicon glyphicon-facetime-video"></span>
                                @Model.Profile.SkypeId
                            </a>
                        </p>
                    </div>
                </div>
            }
        </fieldset>
    </div>
    <div class="col-xs-12">
    @if (Model.AllowEdit)
    {
        <a class="btn btn-primary" title="Profil bearbeiten" asp-action="edit" asp-route-id="@Model.Profile.Id">Bearbeiten</a>
    }
    </div>
</form>
<div class="clearfix"></div>