@using Tauchbolde.Web.Models.ViewComponentModels
@model RecentAndUpcomingEventsViewModel
@{
    var upcomingEvents = Model.RecentEvents.Where(e => e.StartTime > DateTime.Now).ToList();
    var recentEvents = Model.RecentEvents.Where(e => e.StartTime < DateTime.Now).ToList();
}

<section>
    <h5>Bevorstehend</h5>
    @if (!upcomingEvents.Any())
    {
        <p>Nichts geplant</p>
    }
    else
    {
        <ul style="list-style: none; padding-left: 0;">
            @foreach (var e in upcomingEvents)
            {
                <li><a asp-action="Details" asp-controller="Event" asp-route-id="@e.Id" ><small>@e.StartEndTimeAsString</small> @e.Name</a></li>
            }
        </ul>
    }
</section>
<section>
    <h5>Vergangene</h5>
    <ul style="list-style: none; padding-left: 0;">
        @foreach (var e in recentEvents)
        {
            <li><small>@e.StartEndTimeAsString</small> @e.Name</li>
        }
    </ul>
</section>
