@using Tauchbolde.Web.Models.ViewComponentModels
@model RecentAndUpcomingEventsViewModel
@{
    var upcomingEvents = Model.RecentEvents.Where(e => e.StartTime > DateTime.Now).ToList();
    var recentEvents = Model.RecentEvents.Where(e => e.StartTime < DateTime.Now).ToList();
}

<section>
    <h5>Bevorstehend</h5>
    @if (!upcomingEvents.Any())
    {
        <p>Nichts geplant</p>
    }
    else
    {
        @foreach (var e in upcomingEvents)
        {
            <div><a class="text-info" asp-action="Details" asp-controller="Event" asp-route-id="@e.Id">@e.StartEndTimeAsString <strong>@e.Name</strong></a></div>
        }
    }
</section>
<section>
    <h5>Vergangene</h5>
    @foreach (var e in recentEvents)
    {
        <div><a class="text-muted" asp-action="Details" asp-controller="Event" asp-route-id="@e.Id">@e.StartEndTimeAsString <strong>@e.Name</strong></a></div>
    }
</section>
