@model Tauchbolde.InterfaceAdapters.Event.RecentAndUpcomingEvents.MvcRecentAndUpcomingEventsViewModel
<section>
    <div class="panel panel-default">
        <div class="panel-heading">Bevorstehend</div>
        @if (!Model.UpcomingEvents.Any())
        {
            <div class="panel-footer">Nichts geplant</div>
        }
        else
        {
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Wann</th>
                    <th>Was</th>
                </tr>
                <tbody></tbody>
                @foreach (var e in Model.UpcomingEvents)
                {
                    <tr>
                        <td width="170px">
                            <a class="text-default" asp-action="Details" asp-controller="Event" asp-route-id="@e.EventId">@e.StartEndTime </a>
                        </td>
                        <td>
                            <a class="text-default" asp-action="Details" asp-controller="Event" asp-route-id="@e.EventId">
                                <strong>@e.Title</strong>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</section>
<section>
    <div class="panel panel-default">
        <div class="panel-heading">Vergangen</div>
        @if (!Model.RecentEvents.Any())
        {
            <div class="panel-footer">Nichts</div>
        }
        else
        {
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Wann</th>
                    <th>Was</th>
                </tr>
                <tbody></tbody>
                @foreach (var e in Model.RecentEvents)
                {
                    <tr>
                        <td width="170px">
                            <a class="text-muted" asp-action="Details" asp-controller="Event" asp-route-id="@e.EventId">@e.StartEndTime </a>
                        </td>
                        <td>
                            <a class="text-muted" asp-action="Details" asp-controller="Event" asp-route-id="@e.EventId">
                                <strong>@e.Title</strong>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</section>