@using Tauchbolde.Web.Models.ViewComponentModels
@model RecentAndUpcomingEventsViewModel
@{
    var upcomingEvents = Model.RecentEvents.Where(e => e.StartTime > DateTime.Now).ToList();
    var recentEvents = Model.RecentEvents.OrderByDescending(e => e.StartTime).Where(e => e.StartTime < DateTime.Now).ToList();
}
<section>
    <div class="panel panel-default">
        <div class="panel-heading">Bevorstehend</div>
        @if (!upcomingEvents.Any())
        {
            <div class="panel-footer">Nichts geplant</div>
        }
        else
        {
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Wann</th>
                    <th>Was</th>
                </tr>
                <tbody></tbody>
                @foreach (var e in upcomingEvents)
                {
                    <tr>
                        <td width="170px"><a class="text-default" asp-action="Details" asp-controller="Event" asp-route-id="@e.Id">@e.StartEndTimeAsString </a></td>
                        <td><a class="text-default" asp-action="Details" asp-controller="Event" asp-route-id="@e.Id"><strong>@e.Name</strong></a></td>
                    </tr>
                }
            </table>
        }
    </div>
</section>
<section>
    <div class="panel panel-default">
        <div class="panel-heading">Vergangen</div>
        @if (!recentEvents.Any())
        {
            <div class="panel-footer">Nichts</div>
        }
        else
        {
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Wann</th>
                    <th>Was</th>
                </tr>
                <tbody></tbody>
                @foreach (var e in recentEvents)
                {
                    <tr>
                        <td width="170px"><a class="text-muted" asp-action="Details" asp-controller="Event" asp-route-id="@e.Id">@e.StartEndTimeAsString </a></td>
                        <td><a class="text-muted" asp-action="Details" asp-controller="Event" asp-route-id="@e.Id"><strong>@e.Name</strong></a></td>
                    </tr>
                }
            </table>
        }
    </div>
</section>
