@using Tauchbolde.Web.Models.ViewComponentModels
@model ParticipantViewModel

<div style="margin: 3px 0;">
    <span style="margin-left: 18px"></span>

    <span title="@Model.Name">
        <vc:avatar diver="@Model.Diver" avatar-size="Small" />
    </span>
    <span class="event-participationlist-name" style="padding-left: 5px;">
        <strong>@Model.Name</strong>
    </span>
    <span class="badge" title="Anzahl Personen: @Model.CountPeople">
        @Model.CountPeople
    </span>
    @if (!string.IsNullOrWhiteSpace(Model.Notes))
    {
        <mark style="margin-left: 10px;">@Model.Notes</mark>
    }
</div>