@using Tauchbolde.Web.Core.TextFormatting
@model Tauchbolde.Web.Models.Logbook.LogbookDetailViewModel
@inject ITextFormattingHelper textFormatting

@{
    ViewBag.Title = "Logbucheintrag - " + Model.Title;
    Layout = "_Layout";
}

<h2>@Model.Title</h2>

<div class="col-md-10">

    <div class="row">
        @if (!string.IsNullOrWhiteSpace(Model.TeaserImageUrl))
        {
            <img src="@Model.TeaserImageUrl"/>
        }
        
        @if (!string.IsNullOrWhiteSpace(Model.Teaser))
        {
            <summary>@textFormatting.FormatText(Model.Teaser)</summary>
        }
    </div>

    <div class="row">
        @if (!string.IsNullOrWhiteSpace(Model.Text))
        {
            <article>
                @textFormatting.FormatText(Model.Text)
            </article>
        }
    </div>

</div>

<div class="col-md-2">
    <ul class="list-group">

        @if (Model.EventUrl != null && Model.EventTitel != null)
        {
            <li class="list-group-item">
                Aktivität:<br/>
                <a href="@Model.EventUrl">@Model.EventTitel</a>
            </li>
        }

        @if (Model.ExternalPhotoAlbumUrl != null)
        {
            <li class="list-group-item">
                <a href="@Model.ExternalPhotoAlbumUrl" target="_blank" class="btn btn-primary">Weitere Bilder</a>
            </li>
        }

        <li class="list-group-item">
            Author:<br/>
            <vc:avatar diver="Model.OriginalAuthor" avatarSize="AvatarSize.Small"></vc:avatar> @Model.OriginalAuthorName
        </li>

        <li class="list-group-item">
            Erstellt am:<br/>
            @Model.CreatedAt
        </li>

        @if (Model.EditorAuthor != null || Model.EditedAt != null)
        {
            <li class="list-group-item">
                Bearbeitet:<br/>
                <vc:avatar diver="Model.EditorAuthor" avatarSize="AvatarSize.Small"></vc:avatar> @Model.EditorAuthorName <br/>
                @Model.EditedAt
            </li>
        }

        @if (Model.AllowEdit)
        {
            <hr/>
            <a href="@Model.EditUrl" class="btn btn-primary">Bearbeiten</a>
            <hr/>
            <a href="@Model.DeleteUrl" class="btn btn-danger">Löschen</a>
        }
    </ul>

</div>