@using Tauchbolde.Web.Core.TextFormatting
@model Tauchbolde.Web.Models.Logbook.LogbookDetailViewModel
@inject ITextFormattingHelper textFormatting

@{
    ViewBag.Title = "Logbucheintrag - " + Model.Title;
    Layout = "_Layout";
}

<style>
    .jumbotron {
        background: url(@Model.TeaserImageUrl) no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 350px
    }
</style>

<div class="row page-header">
    <div class="pull-right">
        @if (Model.AllowEdit)
        {
            <a href="@Model.EditUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</a>
            <a href="@Model.DeleteUrl" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> Löschen</a>
        }
    </div>

    <h1>@Model.Title</h1>

    <cite>
        <vc:avatar diver="Model.OriginalAuthor" avatarSize="AvatarSize.Small"></vc:avatar> @Model.OriginalAuthorName
        &mdash;@Model.CreatedAt
    </cite>

    @if (Model.EditorAuthor != null || Model.EditedAt != null)
    {
        <br/>
        <small>
            <span class="glyphicon glyphicon-pencil"></span>
            @Model.EditorAuthorName
            &mdash;@Model.EditedAt
        </small>
    }
</div>

<div class="row">

    @if (!string.IsNullOrWhiteSpace(Model.Teaser))
    {
        <div id="lead">@textFormatting.FormatText(Model.Teaser)</div>
    }


    @if (!string.IsNullOrWhiteSpace(Model.TeaserImageUrl))
    {
        <div class="row">
            <div class="jumbotron">
            </div>
        </div>
    }


    <div class="row">
        @if (!string.IsNullOrWhiteSpace(Model.Text))
        {
            <article>
                @textFormatting.FormatText(Model.Text)
            </article>
        }
    </div>

    @if (Model.ExternalPhotoAlbumUrl != null)
    {
        <div class="row">
            <a href="@Model.ExternalPhotoAlbumUrl" target="_blank" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-picture"></span>
                Weitere Bilder
            </a>
        </div>
    }

    @if (Model.EventUrl != null && Model.EventTitel != null)
    {
        <div class="row">
            Aktivität:<br/>
            <a href="@Model.EventUrl">@Model.EventTitel</a>
        </div>
    }
</div>